:root{
    --body-background-color: black;
    --body-text-color: white;
}

html, body {
  background-color: #151515;
  color: #d0d0d0;
}
.search-box input {
  border-color: #5b5b5b;
  background-color: #151515;
  color: #d0d0d0;
}
.search-box .suggestions {
  background-color: #383838;
  border: 0;
}
.search-box .suggestion a {
  color: #d0d0d0;
}
.search-box .suggestion.focused {
  background-color: #5b5b5b;
}
.search-box .suggestion.focused a {
  color: #fff;
}
.algolia-search-wrapper .algolia-autocomplete .ds-dropdown-menu {
  border: 0;
  background-color: #383838;
}
.algolia-search-wrapper .algolia-autocomplete .ds-dropdown-menu:before {
  background-color: #383838;
  border: 0;
}
@media (min-width: 719px) {
  .dropdown-wrapper .nav-dropdown {
    background-color: #383838;
    border: 0;
  }
  .dropdown-wrapper .nav-dropdown .dropdown-item h4 {
    border-top-color: #5b5b5b;
  }
}
.sw-update-popup {
  background-color: #383838;
  border: 0;
}
.navbar {
  border-bottom-color: #2c2c2c;
  background-color: #151515;
}
.navbar .site-name {
  color: #fff;
}
.navbar .links {
  background-color: #151515;
}
.page-edit .edit-link a {
  color: #8a8a8a;
}
.page-edit .edit-link a:hover,
.page-edit .edit-link a:focus {
  color: #fff;
}
.page-edit .last-updated .prefix {
  color: #8a8a8a;
}
.page-edit .last-updated .time {
  color: #737373;
}
h2 {
  border-bottom-color: #2c2c2c;
}
hr {
  border-top-color: #2c2c2c;
}
.page-nav .inner {
  color: #8a8a8a;
  border-top-color: #2c2c2c;
}
.sidebar {
  background-color: #151515;
  border-right-color: #2c2c2c;
}
.sidebar .nav-links {
  border-bottom-color: #2c2c2c;
}
.sidebar a.sidebar-link {
  color: #d0d0d0;
}
.sidebar a.sidebar-link:hover,
.sidebar a.sidebar-link:focus,
.sidebar a.sidebar-link.active {
  color: #fff;
}
.sidebar .sidebar-heading {
  color: #d0d0d0;
}
.sidebar .sidebar-heading.open,
.sidebar .sidebar-heading:hover {
  color: #fff;
}
.nav-links a {
  color: #d0d0d0;
}
.nav-links a:hover,
.nav-links a:focus,
.nav-links a.router-link-active {
  color: #fff;
}
.home .hero .description {
  color: #8a8a8a;
}
.home .hero .action-button {
  border: 0;
}
.home .features,
.home .footer {
  border-top-color: #2c2c2c;
}
.home .feature h2 {
  color: #b9b9b9;
}
.home .feature p {
  color: #8a8a8a;
}
.home .footer {
  color: #8a8a8a;
}
