<template>
 <div class="w-40 h-40 flex items-center justify-center text-white bg-gray-700" :style="{ borderRadius: radius }">
    {{ label }}
 </div>
</template>
<script>
import TokenBase from './../mixins/TokenBase'
export default {
  mixins: [ TokenBase ],
  props: {
    label: {
      type: String,
      default: '',
      optional: true
    }
  },
  computed: {
    radius(){
      return this.value
    }
  }
}
</script>