<template>
 <div class="flex items-grow">
    <ColorTint v-for="(item,name) in tokens" :key="name" :token="token+'.'+name" :label="label +' '+ name" />
  </div>
</template>
<script>
import TokenBase from './../mixins/TokenBase'
export default {
  mixins: [ TokenBase ],
  props: {
    label: {
      type: String,
      default: '',
      optional: true
    }
  },
  computed: {
    tokens(){
      return this.value
    }
  }
}
</script>