<template>
 <div class="flex flex-col w-full">
   <div class="h-24 mb-3" :style="{ background: color }"></div>
    <div class="mb-1">
      {{ label }}
    </div>
    <div class="font-mono text-sm text-gray-700">
      {{ color }}
    </div>
  </div>
</template>
<script>
import TokenBase from './../mixins/TokenBase'
export default {
  mixins: [ TokenBase ],
  props: {
    label: {
        type: String,
        default: '',
        optional: true
    }
  },
  computed: {
    color(){
      return this.value
    }
  }
}
</script>