<template>
 <div class="w-64 h-48 flex flex-col justify-between p-5 border-box"
       :style="{
           background: color,
           color: contrastColor
        }">
    <div>
      {{ displayName }}
    </div>
    <div class="flex flex-row justify-between items-center">
      <div v-if="label" class="w-8 h-8 flex items-center justify-center rounded-full text-center font-bold"
       :style="{
           background: contrastColor,
           color: contrastBackground
        }">{{ label }}</div>
      <div class="uppercase text-sm"
       :style="{
           color: contrastColor
        }">
        {{ color }}
      </div>
    </div>
  </div>
</template>
<script>
import TokenBase from './../mixins/TokenBase'
import colorUtils from './../utils/color'
export default {
  mixins: [ TokenBase ],
  props: {
    name: {
        type: String,
        default: '',
        optional: true
    },
    label: {
        type: String,
        default: '',
        optional: true
    },
    base: {
        type: Boolean,
        default: false,
        optional: true
    }
  },
  computed: {
    color(){
      return this.value
    },
    displayName(){
      return this.name;
    },
    className(){
      return this.base
      ? 'w-10 h-10 flex items-center justify-center rounded-full font-bold text-white'
      : 'w-10 h-10'
    },
    contrastColor(){
      return colorUtils.contrast(this.color);
    },
    contrastBackground(){
      return colorUtils.contrast(colorUtils.contrast(this.color));
    }
  }
}
</script>