<template>
 <div class="px-5 py-6 flex flex-col md:flex-row justify-between md:items-center"
       :style="{
           background: color,
           color: contrastColor
        }">
    <div class="leading-none mb-3 md:mb-0 w-1/5 opacity-75">
      {{ label }}
    </div>
    <div class="font-mono text-left opacity-75 md:text-center text-sm w-2/3 order-last md:order-none mt-1 md:mt-0">
      ${{ variable }}
    </div>
    <div class="flex flex-row justify-between items-center w-1/5">
      <div class="font-mono uppercase text-sm opacity-75"
       :style="{
           color: contrastColor
        }">
        {{ color }}
      </div>
      <div class="rounded bg-white text-xxs text-gray-800 leading-none py-1 px-2">
        {{ contrastScore }}
      </div>
    </div>
  </div>
</template>
<script>
import TokenBase from './../mixins/TokenBase'
import colorUtils from './../utils/color'
import contrast from 'get-contrast'

export default {
  name: 'ColorSample',
  mixins: [ TokenBase ],
  props: {
    label: {
        type: String,
        default: '',
        optional: true
    },
    base: {
        type: Boolean,
        default: false,
        optional: true
    }
  },
  computed: {
    variable(){
      return this.property.path.join('-')
    },
    color(){
      return this.value
    },
    className(){
      return this.base
      ? 'w-10 h-10 flex items-center justify-center rounded-full font-bold text-white'
      : 'w-10 h-10'
    },
    contrastColor(){
      return colorUtils.contrast(this.color);
    },
    contrastBackground(){
      return colorUtils.contrast(colorUtils.contrast(this.color));
    },
    contrastScore(){
      return contrast.score(this.color, this.contrastColor) // => 'AAA'
    }
  }
}
</script>
<style scoped>
  .text-xxs{
    font-size: .7rem;
  }
</style>