<template>
 <div class="flex flex-col">
    <ColorSample v-for="item in tokens" :key="item.name" :token="item.path.join('.')" :label="item.path[item.path.length-1]" />
  </div>
</template>
<script>
import TokenBase from './../mixins/TokenBase'
export default {
  mixins: [ TokenBase ],
  computed: {
    tokens(){
      return this.property
    }
  }
}
</script>