<template>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
      style="display: block; width:200px;height:200px;"
       viewBox="-.25 -.25 1.5 1.5">
      <!--<path d="M0,1 L1,0" style="stroke-width: .01px; stroke: #dddddd; fill: none;"/>-->
      <path :d="'M0,1 L'+c[0]+','+c[1]" style="stroke-width: .01px; stroke: #cccccc; fill: none;"/>
      <path :d="'M1,0 L'+c[2]+','+c[3]" style="stroke-width: .01px; stroke: #cccccc; fill: none;"/>
      <circle :cx="c[0]" :cy="c[1]" r=".02" style="stroke-width: .01px; stroke: #cccccc; fill: white;" />
      <circle :cx="c[2]" :cy="c[3]" r=".02" style="stroke-width: .01px; stroke: #cccccc; fill: white;" />
      <path :d="d" style="stroke-width: .015px; stroke: #1b99ec; fill: none;" :id="curveName" />
      
      <rect style="fill:#000;" width=".2" height=".01" x="0.5" y="0">
        <animateTransform attributeName="transform"
        begin="0s" dur="2s" type="translate" from=".5 1" to=".5 0" repeatCount="indefinite" fill="freeze"
        calcMode="spline"
        values=".5 1;.5 0;"
        :keySplines="c2.join(', ')" />
      </rect>

      <!--
      <circle r=".02" fill="red">
        <animateMotion dur="2s" repeatCount="indefinite">
           <mpath :xlink:href="'#'+curveName"/>
        </animateMotion>
      </circle>
      -->
      
    </svg>

</template>
<script>
  
export default {
  props: {
    'name': {
      default: 'unnamed',
      type: String
    },
    'fn': {
      default: 'cubic-bezier(0.75, 0.02, 0.5, 1)',
      type: String
    }
  },
  data(){
    return {
      d: '',
      d2: '',
      c: [],
      c2: []
    }
  },
  computed: {
    curveName(){
      return 'curve_'+this.name+'_'+this._uid
    }
  },
  mounted(){
    var timingFn = this.fn;
    var regExp = /\(([^)]+)\)/;
    var values = regExp.exec(timingFn)[1].split(',');
    var c = values.map((v)=>parseFloat(v));
    var c2 = values.map((v)=>parseFloat(v));
    //flip y
    c[1] = 1-c[1];
    c[3] = 1-c[3];
    this.c = c;
    this.c2 = c2;
    this.d = 'M0,1 C'+c[0]+','+c[1]+' '+c[2]+','+c[3]+' 1,0';
    this.d2 = 'M0,1 C'+c[0]+','+c[1]+' '+c[2]+','+c[3]+' 1,0 M1,0 C'+c[2]+','+c[3]+' '+c[0]+','+c[1]+' 0,1';      
  }
}
</script>
<style scoped>
svg rect{
  display:none;
}
svg:hover rect{
  display: initial;
}
</style>