<template>
 <div class="" :style="{ lineHeight: leading }">
    <slot />
 </div>
</template>
<script>
import TokenBase from './../mixins/TokenBase'
export default {
  mixins: [ TokenBase ],
  props: {
    label: {
      type: String,
      default: 'Example Font Size',
      optional: true
    }
  },
  computed: {
    leading(){
      return this.value
    }
  }
}
</script>