<template>
 <div :style="{ fontWeight: weight }">
    {{ label }}
 </div>
</template>
<script>
import TokenBase from './../mixins/TokenBase'
export default {
  mixins: [ TokenBase ],
  props: {
    label: {
      type: String,
      default: 'Example Font Size',
      optional: true
    }
  },
  computed: {
    weight(){
      return this.value
    }
  }
}
</script>