<template>
  <div class="flex items-end">
    <div class="meta flex flex-col justify-end text-right pr-3 pb-2 border-box">
      <div class="font-mono opacity-50 text-xxs">{{ familyName }}</div>
      <div class="font-mono opacity-50 text-xxs">{{ weight }}</div>
      <div class="font-mono opacity-50 text-xxs">{{ size }} CAPS</div>
    </div>
    <div class="text w-full text-left pl-2" :style="{
      fontFamily: family,
      fontSize: size,
      fontWeight: weight,
      fontLeading: leading,
      textTransform: casing
    }">
      {{ displayText }}
    </div>
  </div>
</template>
<script>
import TokenBase from './../mixins/TokenBase'
export default {
  mixins: [ TokenBase ],
  props: {
    label: {
      type: String,
      default: '',
      optional: true
    }
  },
  computed: {
    size(){
      return this.getValue('size')
    },
    weight(){
      return this.getValue('weight')
    },
    family(){
      return this.getValue('family')
    },
    leading(){
      return this.getValue('leading')
    },
    casing(){
      return this.getValue('casing')
    },
    familyName(){
      return (this.getValue('family')+'').split(',')[0].replace('"','').trim();
    },
    displayText(){
      if(this.label) return this.label;
      let t = this.token.split('.').pop();
      return  t.charAt(0).toUpperCase() + t.slice(1);
    }
  },
  methods: {
    getValue(name){
      return this.value && this.value[name] ? this.value[name].value : undefined;
    }
    
  }
}
</script>
<style lang="scss" scoped>

.meta{
  width: 10rem;
  min-height: 5rem;
  position: relative;
}
.meta::after {
  content: '';
  display: block;
  position: absolute;
  height: 400%;
  margin-top: -100%;
  border-left: 1px solid rgba(0,0,0,.1);
  border-color: #caced2;
  top: 50%;
  right: 0;
}
.text{
  position: relative;
  padding-top:.5em;
}
.text::after{
  content: '';
  display: block;
  height: 0;
  border-top: 1px solid rgba(0,0,0,.15);
  border-color: #caced2;
  width: 200% !important;
  margin-left: -50%;
  margin-top: -.25em;
}

.text-xxs{
  font-size: .75rem;
}

/* Usage Examples
    .my-level-1-heading-class {
        @include text-crop; // Will use default line height of 1.3
        font-size: 48px;
        margin: 0 0 0 16px;
    }

    .my-level-2-heading-class {
        @include text-crop; // Will use default line height of 1.3
        font-size: 32px; // Don't need to change any settings, will work with any font size automatically
        margin: 0 0 0 16px;
    }

    .my-body-copy-class {
        @include text-crop($line-height: 2); // Larger line height desired, set the line height via the mixin
        font-size: 16px;
    }

    // Sometimes depending on the font-size, the rendering, the browser, etc. you may need to tweak the output.
    // You can adjust the top and bottom cropping when invoking the component using the $top-adjustment and $bottom-adjustment settings
    
    .slight-adjustment-needed {
        @include text-crop($top-adjustment: -0.5px, $bottom-adjustment: 2px);
        font-size: 17px;
    }

    .dont-do-this {
        @include text-crop;
        font-size: 16px;
        line-height: 3; // DO NOT set line height outside of the mixin, the mixin needs the line height value to calculate the crop correctly
    }
*/


/* Usage Examples
    .my-level-1-heading-class {
        @include text-crop; // Will use default line height of 1.3
        font-size: 48px;
        margin: 0 0 0 16px;
    }

    .my-level-2-heading-class {
        @include text-crop; // Will use default line height of 1.3
        font-size: 32px; // Don't need to change any settings, will work with any font size automatically
        margin: 0 0 0 16px;
    }

    .my-body-copy-class {
        @include text-crop($line-height: 2); // Larger line height desired, set the line height via the mixin
        font-size: 16px;
    }

    // Sometimes depending on the font-size, the rendering, the browser, etc. you may need to tweak the output.
    // You can adjust the top and bottom cropping when invoking the component using the $top-adjustment and $bottom-adjustment settings
    
    .slight-adjustment-needed {
        @include text-crop($top-adjustment: -0.5px, $bottom-adjustment: 2px);
        font-size: 17px;
    }

    .dont-do-this {
        @include text-crop;
        font-size: 16px;
        line-height: 3; // DO NOT set line height outside of the mixin, the mixin needs the line height value to calculate the crop correctly
    }
*/

</style>