<template>
    <div>
    <div :class="className" :style="{
        background: color,
        color: contrastColor
    }">
        <!--<span v-if="base">
            B
        </span>-->
    </div>
    <div class="text-center font-mono text-gray-600 text-xs py-2">{{ label }}</div>
  </div>
</template>
<script>
import TokenBase from './../mixins/TokenBase'
import colorUtils from './../utils/color'
export default {
  mixins: [ TokenBase ],
  props: {
    label: {
      type: String,
      default: '',
      optional: true
    },
    base: {
      type: Boolean,
      default: false,
      optional: true
    }
  },
  computed: {
    color(){
      return this.value
    },
    className(){
      return this.base
      ? 'w-12 h-12 -my-1 relative'
      : 'w-10 h-10'
    },
    contrastColor(){
      return colorUtils.contrast(this.color);
    }
  }
}
</script>