<template>
 <div class="w-40 py-3 flex items-center justify-center" :style="{ borderBottom: space+' solid' }">
    {{ label }}
 </div>
</template>
<script>
import TokenBase from './../mixins/TokenBase'
export default {
  mixins: [ TokenBase ],
  props: {
    label: {
      type: String,
      default: '',
      optional: true
    }
  },
  computed: {
    space(){
      return this.value
    }
  }
}
</script>