<template>
  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>value</th>
    </tr>
    </thead>
    <tbody class="align-baseline">
      <tr v-for="(token, name) in tokens" :key="name">
        <td class="font-mono text-xs text-purple-900 whitespace-no-wrap">
          <!--{{ name }}-->
          {{ prefix }}{{ token.path.join('-') }}
        </td>
        <td class="font-mono text-xs text-blue-900 truncate">
          <span class="truncate w-100">{{ token.value }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</template>
<script>
import TokenBase from '../mixins/TokenBase'
export default {
  mixins: [TokenBase],
  props: {
    prefix: {
      type: String,
      default: '$'
    }
  },
  computed: {
    tokens(){
      return this.property.attributes ? {} : this.property;
    }
  }
}
</script>