<template>

  <pre>{{ printable }}</pre>

</template>
<script>
import TokenBase from './../mixins/TokenBase'
export default {
  mixins: [ TokenBase ],
  computed: {
    printable(){
      return JSON.stringify(this.property, null, 2);
    }
  }

}

</script>