<template>
    <div @click="changeSampleText()">
      <span class="font-mono text-sm text-gray-700">{{ name }}</span>
      <div ref="text" class="my-3 px-3">
          <slot></slot>
    </div>
      <span class="font-mono text-xs text-gray-700">{{ pxText }} {{ pxValues.fontStyle }}</span>
    </div>
</template>
<script>

export default {
    props: {
        name: {
            type: String,
            default: '.',
            optional: true
        },
        text: {
            type: String,
            default: 'Display Type',
            optional: true
        }
    },
    data(){
        return {
            pxValues: {},
            sampleText: ()=>this.$props.text,
            sampleTextIndex: 0,
            sampleTextList: [
                'This is Headline Typography',
                'Lorem ipsum dolor sit amet consectetuer adispcing elit alqiuet amet.',
                'Lorem ipsum dolor sit amet consectetuer adispcing elit alqiuet amet. Lorem ipsum dolor sit amet consectetuer adispcing elit alqiuet amet. Lorem ipsum dolor sit amet consectetuer adispcing elit alqiuet amet.'
            ]
        }
    },
    computed: {
        pxText(){
            return this.pxValues.fontSize+'/'+this.pxValues.lineHeight+'px '+this.pxValues.fontWeight
        }
    },
    mounted(){
      this.$nextTick().then(()=>this.calculatePxValues())
    },
    methods:{
        changeSampleText(){
            this.sampleTextIndex++;
            if(this.sampleTextIndex>this.sampleTextList.length-1) this.sampleTextIndex = 0;
            this.$refs.text.firstChild.textContent = this.sampleTextList[this.sampleTextIndex]
        },
        calculatePxValues(){
          let el = this.$refs.text.firstChild;
          this.pxValues = {
              fontSize: parseFloat(this.getStyleValue(el, 'font-size')),
              lineHeight: parseFloat(this.getStyleValue(el, 'line-height')),
              fontWeight: parseFloat(this.getStyleValue(el, 'font-weight')),
              fontStyle: this.getStyleValue(el, 'font-style'),
          }
        },
        getStyleValue(el, prop){
          //TODO: is it posible to get px values without window?
          if(typeof window == "undefined" || !el || !prop) return;
          return window.getComputedStyle(el, null).getPropertyValue(prop);
        }
    }
}
</script>