/*html, body{
    //background-color $bgColor
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
//.navbar, .sidebar, .navbar .links
//    background-color $bgColor

*/
//@import "tailwindcss/base";

//@import "tailwindcss/components";
@import "tailwindcss/utilities";
/*
table{
  @apply w-full text-left;
}

th{
  @apply text-sm font-semibold text-gray-900 p-2 bg-gray-100;
}

tbody{
  @apply align-baseline;
}
td{
  @apply w-full p-2 border-t border-gray-300;
}*/